/* CSS specifico di progetto */

[class*=col-]{
    min-height: 100px;
    
}

.col-1{
    /* border: solid 1px blue; */
    content: '';
}

.col-1 > .row{
    width: 100%;
    height: 100%;
}

.small{
    min-height: 50px;
    border: solid 1px black;
}

.black{
    background-color: black;
}

.green{
    background-color: #0A683E;
}

.pink{
    background-color: #E15B80;
}

.lgreen{
    background-color: #B3C04F;
}

.brown{
    background-color: #644938;
}

.lbrown{
    background-color: #E4C396;
}